<ion-header>
  <ion-toolbar>
    <ion-title>venda</ion-title>
  </ion-toolbar>
</ion-header>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<ion-content>
<ion-button (click)="dismiss()">voltar</ion-button>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">DATA</th>
      <th scope="col">CLIENTE</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let venda of clientes">
      <th scope="col">{{venda.id}}</th>
      <th scope="col">{{venda.data}}</th>
      <th scope="col">{{venda.cliente_id}}</th>
    </tr>
  </tbody>
</table>
<ion-list>
  <ion-item *ngFor="let venda of clientes">
    id: {{venda.id}}

    data da venda: {{venda.data}}

    id do cliente: {{venda.cliente_id}}
  </ion-item>
</ion-list>
</ion-content>
