<ion-header>
  <ion-toolbar>
    <ion-title>venda</ion-title>
  </ion-toolbar>
</ion-header>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<ion-content>
<ion-button (click)="dismiss()">voltar</ion-button>
<table class="table table-striped">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">DATA</th>
      <th scope="col">CLIENTE</th>
      <th scope="col">AÇOES</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let venda of clientes">
      <th scope="col">{{venda.id}}</th>
      <th scope="col">{{venda.data}}</th>
      <th scope="col">{{venda.cliente_id}}</th>
      <th>  <ion-fab-button (click)="excluir(venda.id)" color="danger"><ion-icon name="trash"></ion-icon></ion-fab-button>
      </th>
    </tr>
  </tbody>
</table>
</ion-content>
