<ion-header>
  <ion-toolbar>
    <ion-title>cliente</ion-title>
  </ion-toolbar>
</ion-header>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
  integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

<ion-content>

  <ion-button (click)="dismiss()">voltar</ion-button>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">NOME</th>
        <th scope="col">CLIENTES</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cliente of clientes">
        <th scope="col">{{cliente.id}}</th>
        <th scope="col">{{cliente.nome}}</th>
        <th scope="col">
          <div *ngFor="let venda of cliente.vendas">
            id: {{venda.id}} -
            data da compra: {{venda.data}} |
          </div>
        </th>
      </tr>
    </tbody>
  </table>

</ion-content>