<ion-header>
  <ion-toolbar>
    <ion-title>produto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-button (click)="dismiss()">voltar</ion-button>
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">ID</th>
        <th scope="col">NOME</th>
        <th scope="col">PREÇO</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let cliente of clientes">
        <th scope="col">{{produto.id}}</th>
        <th scope="col">{{produto.nome}}</th>
        <th scope="col">{{produto.preco}}</th>
      </tr>
    </tbody>
  </table>
</ion-content>
